{% extends "base.html" %}
{% block body %}
<section class="">
  <div class="">
    <p>LibreOffice Screen Control Panel</p> 

    <p>Playlist</p>

    <button onclick="request('play');">Play presentation</button>
    <button onclick="request('pause');">Pause presentation</button>
    Note to self: Do we need these? (Android Remote)
    <button onclick="request('next');">Next presentation</button>
    <button onclick="request('previous');">Previous presentation</button>

    <div>
		<ul class="sortable">
        {% for item in playlist %}
            <li>
                {{item["file"]}}

                <a href="#" onclick="request('play_file', 'file_id={{item.file}}');">Play</a>
                <a href="download/{{item["file"]}}" download>Download</a>
                <a href="#" onclick="request('remove_file', 'file_id={{item.file}}');">Remove</a>
            </li>
        {% endfor %}
		</ul>
    </div>

    <p>Upload presentation</p>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit" value="Upload">
            Upload file
        </button>
    </form>

  </div>
</section>

<script type="text/javascript">
    var playlist = sortable('.sortable');

    playlist[0].addEventListener('sortupdate', function (e)
    {
        var old_index = e.detail.origin.index;
        var new_index = e.detail.destination.index;

        request('order', "from="+old_index+"&to="+new_index);
    });

    function request (type, data)
    {
        var r = new XMLHttpRequest();
        r.open("POST", '/'+type, true);
        r.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        r.send(data);
    }
</script>

{% endblock %}
